body {
    background-color: #FFFFFF;
    color: #434455;
    color: var(--brand-color);
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25.5px 156px;
}
.link {
    text-decoration: none;
}
.link:hover {
    color: var(--marka-color);
}

.link:active {
    color: var(--marka-color);
}

.link:focus {
    color: var(--marka-color);
}
:root {
    --brand-color: #434455;
    --color-text: #2e2f42;
    --marka-color: #404BBF;
    --button-one: #4d5ae5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-decoration: none;

}


.studio-logo {
    color: #2E2F42;
    font-weight: bold;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration:none;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts {
    font-style: normal;
    margin-right: 20px;
}

.list {
    list-style: none;
}

.button-one {
    background-color: #F4F4FD;
    color: var(--button-one);
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    justify-content: center;
}

.button-one:hover {
    background-color: var(--marka-color);
    color: #FFFFFF;
    cursor: pointer;
}

.button-one:visited {
    background-color: var(--marka-color);
    color: #FFFFFF;
}

.button-one:active {
    background-color: var(--marka-color);
    color: #FFFFFF;
}

.button-one:focus {
    background-color: var(--marka-color);
    color: #FFFFFF;
}

.heading-portfolio-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;
    text-align: left;
}

.paragraph-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align:left;
}

footer {
    background-color: #2E2F42;
}

.paragraph-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio-two {
    color: #F4F4FD;
}

.contacts-top {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    gap: 40px;
}
.contacts-top:last-child {
    margin-right: 0;
}

.contacts-top:hover,
.contacts-top:active {
    color: var(--marka-color);
}

.section-one {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.head-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button-two {
    background-color: var(--button-one);
    color: var(--White , #FFFFFF);
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}

.button-two:focus {
    background-color: var(--marka-color);
}

.button-two:hover {
    background-color: var(--marka-color);
}

.heading-section-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.head-two-selection {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
    justify-content: flex-start;
    
}

.paragraph-selection {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.head-twoss {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-text);
}

.list-name {
    background-color: #FFFFFF;
}
.selection-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #F4F4FD;
}
.p-selection-four {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
main a {
    text-decoration: none;
}
ul.list li button {
    text-decoration: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
.four-class-one{
    color: #2E2F42;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.text-team {
    justify-content: center;
    display: flex;
        width: 264px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
}
.logo-up{
    margin-left: 156px;
    margin-top: 25.5px;
}
.container{
width: 1440px;
height: 72px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 25.5px 156px;
}
.imagese {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100% - 1px) /3);
}
.column{
    display: flex;
    flex-direction: column;
    margin-left: 76px;
}
.studio,
.portfolio,
.contacts {
    margin: 24px 0;
}